@import "./variables";

.spellCard {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 8px;
    background-color: white;
    margin: 30px 0;
    position: relative;
  }
  
.borderGradient {
    border-image-source: linear-gradient(to left, $burgundy, $off-white);
    width: 60vw;
    padding: 1rem;
}

.spellName {
    color: $bague;
    margin: 0 0 40px 0;
}

.loadingDiv {
    color: $off-white;
}

.iconsList {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.icons {
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.iconsRow {
    color: $dark-blue;
    display: flex;
    font-size: 20px;
}

.listItem {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em; 
    margin: 5px 0;
}

.cardBody {
    color: black;
    text-align: left;
    font-size: 13px;
}

.boldText {
    color: $dark-blue;
    font-size: 20px;
}

.moreInfo {
    color: black;
    font-size: 12px;
    text-align: left;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

.savedFavorite {
    color: $base-color;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}

.savedFavorite:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
    .icons {
        font-size: 12px;
        margin: 2px 5px;
    }

    .borderGradient {
        width: 80vw;
    }

    .cardBody {
        font-size: 11px;
    }

    .savedFavorite {
        top: 1.5rem;
        right: 1.5rem;
    }

    .moreInfo {
        font-size: 8px;
    }

    .spellName {
        margin-bottom: 20px;
    }
}

