@import "../components/scss/variables";

.App {
  text-align: center;
  z-index: 100;
  // position: absolute;
  // margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $base-color;
  background-image: linear-gradient(62deg, $base-color 0%, $dark-blue 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardBody {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
